@model InputCreateTableUrlDtoUI

<form id="create-form">
    <label>Длинный URL</label>
    <input type="text" name="OriginalUrl" class="form-control" />
    <div class="text-danger" id="url-error"></div>
    <button type="submit" class="btn btn-success mt-2">Создать</button>
</form>
